.shopping-cart-container{
  position: absolute;
  right: 5rem;
}

.itens-cart-quantity {
  text-align: center;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px;
  margin-left: 2.3rem;
  width: 1.5rem;
}
